

@media screen and (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 auto;
        width: 30.333333%;
        margin-left: 10px;
    }
   
}

@media screen and (max-width: 768px) {
 
    .pfontsize{
        font-size: 13px !important;
    }
    .headingsize{
       font-size: 20px !important;
    }
}