.Herosection{
    height: 90%;

   
}
.HerosectionCol{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

}
.h1{
    font-size: 6rem;
    font-weight: 800;
}
@media only screen and (min-width: 2400px){
	.h1{
        font-size: 6rem;
    }
    .HerosectionImg{
        width: 90rem;
        height: 90rem;
    }
  
}

@media only screen and (max-width: 600px){
	.h1{
        font-size: 4rem;
    }
    .HerosectionImg{
        width: 50rem;
        height: 50rem;
    }
    .Herosection{
        height: auto;
    }
}
