.ProjectHeroBg {
    position: relative;
    background-image: url('../../images/projectcard.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
  }
  
  .ProjectHeroBg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Adjust the color and opacity of the overlay */
  }
  
  .textcol {
    position: relative; /* Add this to allow the content to be positioned relative to this container */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-top: 250px;
    margin-bottom: 250px;
  }
  
  .textcol p {
    width: 40%;
    text-align: center;
  }






  .bg-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .bg-image-container img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .text-overlay {
    background-color: #00000080;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 37px;
    text-align: center;
    position: absolute;
    height: 100%;
  }
  
  .text-overlay h1,
  .text-overlay p {
    margin: 0;
    color: #fff;
    font-size: 3.9vw;
  }
  
  .text-overlay p {
    margin-top: 10px;
    font-size: 1.8vw;
  }





  
  @media only screen and (max-width: 600px) {
    .ProjectHeroBg {
      background-image: url('../../images/projectcardc.png');
      background-size: cover;
      height: 80vh;
    }
  
    .textcol p {
      width: 80%;
      text-align: center;
    }
  }
  