@import url('https://fonts.cdnfonts.com/css/uber-move-text');

.App {
  text-align: center;
  font-family: 'Uber Move Text', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Uber Move Text', sans-serif;
  font-weight: 300;
 
}

p{
  font-size: 1.4rem;
  font-weight: bold;
  font-weight: 300;
}
html{
  font-size: 10px;
}


.rem1{
  font-size: 1rem;
}

.rem2{
  font-size: 2rem;
}

.rem3{
  font-size: 3rem;
}

.rem4{
  font-size: 4rem;
}

.rem5{
  font-size: 5rem;
}

.rem6{
  font-size: 6rem;
}

.rem7{
  font-size: 7rem;
}

.line{
  border: 1px solid gray;
  width: 60%;
}
body {
  overflow-x: hidden; /* hide horizontal scrollbar */
  overflow-y: auto; /* allow vertical scrollbar */
}

@media only screen and (max-width: 767px) {
  html {
    overflow-x: hidden !important;
    margin-top: 50px;
  }
}