/* Variables */
:root {
  --white: #fff;
  --purple: #fff;
  --pink: #fff;
  --ocher: #fff;
  --cyan: #fff;
  --transition: 0.3s ease;
}

/* Global styles */

/* Wrapper */
#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: transparent;
  /* height: 100vh; */
  transition: var(--transition);
}

/* Background colors based on classes */
#wrapper.purple {
  background-color: var(--purple);
}

#wrapper.pink {
  background-color: var(--pink);
}

#wrapper.ocher {
  background-color: var(--ocher);
}

#wrapper.cyan {
  background-color: var(--cyan);
}

/* Menu */
.menu {
  background: var(--white);
  width: 400px;
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Menu item styles */
.menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
  padding: 4px 4px 4px 12px;
  border-radius: 50px;
  transition: var(--transition);
}

.menu-item:last-child {
  margin-right: 0px;
}

/* Inactive menu item styles */
.menu-item.inactive {
  background-color: transparent !important;
  border: none;
}

.menu-item.inactive svg {
  color: #000 !important;
}

.menu-item.inactive .menu-item__text {
  min-width: 0px;
  opacity: 0;
  font-size: 0px;
}

/* Menu item colors based on classes */
.menu-item.purple {
  background-color: hsl(var(--purple), 40%);
  color: #fc780b;
}

.menu-item.pink {
  background-color: hsl(var(--pink), 40%);
  color: #fc780b;
}

.menu-item.ocher {
  background-color: hsl(var(--ocher), 40%);
  color: #fc780b;
}

.menu-item.cyan {
  background-color: hsl(var(--cyan), 40%);
  color: #fc780b;
}

/* Menu item text */
.menu-item__text {
  min-width: 79px;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  opacity: 1;
  transition: opacity var(--transition);
}

/* Menu item icon */
.menu-item__icon {
  display: inline-block;
  text-align: center;
  font-size: 0px;
}

.menu-item__icon svg {
  height: 30px;
  width: 20px;
}
.menu-item.active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  text-decoration: none;
}